{% extends "inicio/base.html" %}
{% load static %}
{% block content %}
<div>
	<p class="h1 text-center text-danger"><strong>CENTROS DE DONACIÓN</strong></p>
	<br><br>
</div>
<div class="container">
			<div class="row">
				<div class="col  formbackground rounded-lg">
					<h4 class="text-center text-danger"><strong>MONTEVIDEO</strong></h4><br>
					<p class="border-bottom border-dark">
					Servicio Nacional de Sangre <br>
					8 de Octubre 2720 <br>
					TELEFONO: 2487 3240
					</p>
					<p class="border-bottom border-dark">
					Hospital Pasteur <br>
					Larravide <br>
					TELEFONO: 2508 9633
					</p>
					<p class="border-bottom border-dark">
					Hospital de Clínicas <br>
					Avenida Italia <br>
					TELEFONO: 2487 1011
					</p>
					<p class="border-bottom border-dark">
					Sanatorio Americano <br>
					Isabellino Bosch 2466 <br>
					TELEFONO: 2708 6041
					</p>
					<p class="border-bottom border-dark">
					Médica Uruguaya <br>
					8 de octubre 2492<br>
					TELEFONO: 2487 0525
					</p>
					<p class="border-bottom border-dark">
					C.H.Pereira Rossell <br>
					Br.Artigas 1550<br>
					TELEFONO: 2708 5703
					</p>
					<p class="border-bottom border-dark">
					Hospital Evangélico <br>
					J.Batlle y Ordóñez 2759<br>
					TELEFONO: 2487 2319
					</p>
					<p class="border-bottom border-dark">
					Círculo Católico <br>
					Soriano 1724<br>
					TELEFONO: 2410 9261
					</p>
					<p class="border-bottom border-dark">
					Bco. Seguros del Estado <br>
					Mercedes 1004<br>
					TELEFONO: 2900 1256
					</p>
					<p class="border-bottom border-dark">
					Hospital Italiano <br>
					Bulevar Artigas 1632<br>
					TELEFONO: 2480 9043
					</p>
					<p class="border-bottom border-dark">
					Casa de Galicia <br>
					Avenida Milllán 4480<br>
					TELEFONO: 2358 1234
					</p>
					<p class="border-bottom border-dark">
					Hospital Británico <br>
					Avenida Italia 2420<br>
					TELEFONO: 2487 1020
					</p>
					<p class="border-bottom border-dark">
					Hospital Italiano <br>
					Bulevar Artigas 1632<br>
					TELEFONO: 2480 9043
					</p>
					<p class="border-bottom border-dark">
					HEMPRO <br>
					Avenida Italia 5286<br>
					TELEFONO: 2613 3979
					</p>
					<p class="border-bottom border-dark">
					CASMU <br>
					Arenal Grande 1539<br>
					TELEFONO: 2358 1234
					</p>
				</div>
				<div class="col">
				</div>
				<div class="col formbackground rounded-lg">
					<h4 class="text-center text-danger"><strong>INTERIOR</strong></h4>
					<br>
					<p class="border-bottom border-dark">
					ARTIGAS <br>
					CENTRO DEP. DE ARTIGAS <br>
					TELEFONO: 4772 3701
					</p>
					<p class="border-bottom border-dark">
					CANELONES <br>
					CENTRO DEP. DE CANELONES <br>
					TELEFONO: 4332 3296
					</p>
					<p class="border-bottom border-dark">
					COLONIA <br>
					CENTRO DEP. DE COLONIA <br>
					TELEFONO: 4522 2579
					</p>
					<p class="border-bottom border-dark">
					DURAZNO <br>
					CENTRO DEP. DE DURAZNO <br>
					TELEFONO: 4362 2375
					</p>
					<p class="border-bottom border-dark">
					FLORIDA <br>
					CENTRO DEP. DE FLORIDA<br>
					TELEFONO: 4352 4415
					</p>
					<p class="border-bottom border-dark">
					LAVALLEJA <br>
					CAMDEL (Privado) <br>
					TELEFONO: 4422 2795
					</p>
					<p class="border-bottom border-dark">
					MALDONADO <br>
					HEMOCENTRO REGIONAL<br>
					TELEFONO: 4225 8507
					</p>
					<p class="border-bottom border-dark">
					PAYSANDU <br>
					CENTRO DEP. DE PAYSANDU<br>
					TELEFONO: 4722 8383
					</p>
					<p class="border-bottom border-dark">
					RIO NEGRO <br>
					CENTRO DEP. DE RIO NEGRO<br>
					TELEFONO: 4562 3212
					</p>
					<p class="border-bottom border-dark">
					RIVERA <br>
					CENTRO DEP. DE RIVERA<br>
					TELEFONO: 4622 7410
					</p>
					<p class="border-bottom border-dark">
					SALTO <br>
					CENTRO DEP. DE SALTO<br>
					TELEFONO: 4732 2155
					</p>
					<p class="border-bottom border-dark">
					SAN JOSE <br>
					CENTRO DEP. DE SAN JOSE<br>
					TELEFONO: 4342 3810
					</p><p class="border-bottom border-dark">
					SORIANO <br>
					CENTRO DEP. DE SORIANO<br>
					TELEFONO: 4532 2177
					</p>
					</p><p class="border-bottom border-dark">
					TACUAREMBO <br>
					CENTRO DEP. DE TACUAREMBO<br>
					TELEFONO: 4632 2955
					</p>
					</p><p class="border-bottom border-dark">
					TREINTA Y TRES <br>
					IAC (Privado)<br>
					TELEFONO: 4452 2008
					</p>
				</div>
			</div>
</div>
{% endblock content %}